.tag {
  text-align: center;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
  font-family: 'Inter-Regular';
  margin-right: 8px;
  font-size: 12px;
  margin-bottom: 4px;
}
